.custom-bg {
	background: #2c387e!important;
}

.admin .card{
	border: 1px solid #2c387e!important;
	
}

.admin .card:hover {
	background: #e2e2e2;
	cursor: pointer;
}
.list-group-item.active {
	background: #2c387e!important; 
	border-color: #2c387e!important;
}
.discount-label {
	background: #2c387e!important;
	font-style: italic!important;
}
.index-page .product-card:hover {
	background: #e2e2e2;
	cursor: pointer;
}
